name: ClusterFuzzLite

on:
  push:
    branches:
      - main
      - master
  pull_request:

permissions: read-all


jobs:
  fuzzing:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Override for this step to allow writing crash artifacts
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Check out the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: '1.23'

      - name: Install Dependencies
        run: go mod download

      - name: Run Fuzz Tests
        run: |
          go test -fuzz=. -fuzztime=60s

      - name: Upload Crash Artifacts
        if: failure()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: fuzz-crashers
          path: fuzz_crashers/
