name: OSV-Scanner

on:
  pull_request:
    branches: [master]
  schedule:
    - cron: "44 5 * * 3" # weekly Wednesday

permissions:
  actions: read
  security-events: write
  contents: read

jobs:
  osv-scan:
    uses: google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@v2.3.3
    with:
      scan-args: |-
        ./
